<h1>About Pictrs</h1>
<p style="max-width: 32em">
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
  diam nonumy eirmod tempor invidunt ut labore et dolore magna
  aliquyam erat, sed diam voluptua. At vero eos et accusam et
  justo duo dolores et ea rebum. Stet clita kasd gubergren, no
  sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
  ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
  nonumy eirmod tempor invidunt ut labore et dolore magna
  aliquyam erat, sed diam voluptua. At vero eos et accusam et
  justo duo dolores et ea rebum. Stet clita kasd gubergren,
  no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p>

<p>
    Max Muster - Musterberuf<br />
    c/o Beispielbüro<br />
    Musterweg<br />
    12345 Musterstadt
</p>
<p>
    <strong>Contact:</strong><br />
    Phone: 01234-789456<br />
    Fax: 1234-56789<br />
    E-Mail: <a href="mailto:max@example.com">max@example.com</a><br />
</p>
